{% extends "account/base.html" %}
{% block content %}
    <h1>Подписчики:</h1>
    {% for sub in subs2 %}
        <p><a href="{% url 'profile_pk' pk=sub.id %}">{{sub.user.username}}</a></p>
    {% endfor %}
    <h1>Подписки:</h1>
    <p>Юзеры:</p>
    {% for sub in subs %}
        <p><a href="{% url 'profile_pk' pk=sub.id %}">{{sub.user.username}}</a></p>
    {% endfor %}
    <p>Проекты:</p>
    {% for project in subs_project %}
        <p><a href="{% url 'project_blog' pk=project.id %}">{{project.name}}</a></p>
    {% endfor %}
    <h1>Пользователи:</h1>
    {% for user1 in users %}
        <p><a href="{% url 'profile_pk' pk=user1.id %}">{{user1.username}}</a></p>
        {% if user1.userprofile in subs %}
        <a href="{% url 'change_subscription' model='User' operation='remove' pk=user1.id %}"><button>Отписаться</button></a>
        {% else %}
        <a href="{% url 'change_subscription' model='User' operation='add' pk=user1.id %}"><button>Подписаться</button></a>
        {% endif %}
    {% endfor %}
    <h1>Проекты:</h1>
    {% for project1 in projects %}
        <p><a href="{% url 'project_blog' pk=project1.id %}">{{project1.name}}</a></p>
        {% if project1 in request.user.userprofile.project_followed.all %}
        <a href="{% url 'change_subscription' model='Project' operation='remove' pk=project1.id %}"><button>Отписаться</button></a>
        {% else %}
        <a href="{% url 'change_subscription' model='Project' operation='add' pk=project1.id %}"><button>Подписаться</button></a>
        {% endif %}
    {% endfor %}
{% endblock %}