{% extends "profile/profile_base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block profile-content %}
    <h1>Изменить пароль</h1>
    <form action="edit_password" method="post">
        {% csrf_token %}
        {% for field in password_form %}
        <div class="row">
            {{field.label_tag}}
            <div class="col-md-12">{{field}}</div>
            {% if field.errors%}
            <div class="error">{{field.errors}}</div>
            {% endif %}
        </div>
        {% endfor %}
<!--        {{ password_form.as_p }}-->
        <br>

        <p><input type="submit" class="btn btn-info" value="Изменить"></p>
    </form>
{% endblock %}