{% extends "profile/profile_base.html" %}

{% block profile-content %}
{% load static %}
    <h1>Подписки</h1>
    <p>Пользователи:</p>
    {% for userprofile in userprofile_followed %}
    <div class="article_in_profile">
        <div class="user_img">
            {% if userprofile.image %}
                <img  src="{{userprofile.image.url}}" alt="">
            {% else %}
                <img src="{% static 'img/profile/base_user_photo.png' %}" class="img-responsive" alt="">
            {% endif %}
        </div>
        <div class="article_in_profile_text">
            <a href="{% url 'profile_pk' pk=userprofile.user.id %}">{{userprofile.user.first_name}}</a>
            <div>{{userprofile.user.username}}</div>
        </div>
    </div>
    {% endfor%}
    <p>Проекты:</p>
    {% for project in project_followed %}

        <div class="article_in_profile">
        <div class="user_img">
            {% if project.image %}
                <img  src="{{project.image.url}}" alt="">
            {% else %}
                <img src="{% static 'img/profile/base_project_photo.png' %}" class="img-responsive" alt="">
            {% endif %}
        </div>
        <div class="article_in_profile_text">
            <a href="{% url 'project_blog' pk=project.id %}">{{project.name}}</a><span> (подписчиков:{{project.project_following.count}})</span>
            <div>{{project.description}}</div>
        </div>
    </div>
        <p></p>
    {% endfor%}
{% endblock %}