{% extends "account/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
    <h1>Регистрация проекта</h1>
<!--     <p>Название проекта:</p>-->
    <form method="post">
        {% csrf_token %}
         {% for field in project_form %}
        <div class="row">
            {{field.label_tag}}
            <div class="col-md-12">{{field}}</div>
            {% if field.errors%}
            <div class="error">{{field.errors}}</div>
            {% endif %}
        </div>
        <br>
        {% endfor %}

        <p><input type="submit" class="btn btn-info btn-sm" value="Создать проект"></p>
    </form>
</div>
{% endblock %}