{% extends 'main.html' %}

{% load static %}

{% block search %}
  <h1 class="hero__title">Каталог артистов<br><span>&laquo;Rock Stars&raquo;</span></h1>
  <h3 class="hero__subtitle">Музыкальные коллективы и&nbsp;артисты в&nbsp;жанре тяжелой музыки
      из&nbsp;России</h3>
{% endblock %}

{% block content %}
<section class="section mc">
        <div class="container">
            <h3>{{ genre.GenreName }}</h3>
            <div class="mc__wrapper">
                {% for artist in artist %}
                <div class="mc__column">
                    <a href="{% url 'artist-card' artist.id %}" class="mc__link">
                        <div class="mc__item">
                            <div class="mc__cover">
                                <img src="{{ MEDIA_URL }}{{ artist.image }}" alt="">
                                <span class="mc__title">
                                    {{ artist.name }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

