{% extends "form_creator/form_wrapper.html"%}
{% load static %}
{% block content %}
<h1>Создание статьи</h1>
<br/>
    <Form method = "POST"  action="{% url 'form-post' id_project=project.id %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="input-group">
            <div fieldWrapper id="list-elements">
                <div style = "float:right; margin-right:300px;">
                    <h2>Теги</h2>
                    {% for tag in tags %}
                        <input type="checkbox" name="tag" value="{{tag.tag_name}}"> {{tag.tag_name}}<br>
                    {% endfor %}
                </div>
                <h3>Категория</h3>
                {{form.category.errors}}
                {{form.category}}
                <br/>

                <h3>Название статьи</h3>
                {{form.title.errors}}
                {{form.title}}
                <br/>
                <h3>Изображение статьи</h3>
                {{form.image.errors}}
                {{form.image}}
                <br/>
                <br/>
                <h3>Описание</h3>
                {{form.preview_text.errors}}
                {{form.preview_text}}
                <br/>
                <h3>Содержимое</h3>
                {{form.text.errors}}
                {{form.text}}
            </div>
        </div>
        <br/>
        <div id="loading">
            <a class="p-link btn btn-warning" href="?upload=1&position=0">Добавить Заголовок</a>
            <a class="p-link btn btn-warning" href="?upload=2&position=0">Добавить Абзац</a>
            <a class="p-link btn btn-warning" href="?upload=3&position=0">Добавить Изображение</a>
            <a class="p-link btn btn-warning" href="?upload=4&position=0">Добавить Цитату</a>
            <a class="p-link btn btn-warning" href="?upload=5&position=0">Добавить Видео</a>
        </div>
        <br/>
        <br/>
        <button class="btn btn-success" type="submit">Отправить</button>
    </Form>


    <script type="text/javascript">

        function ajax_pagination() {
        $('#loading a.p-link').each((index, elem) => {
        $(elem).click((e) => {
        e.preventDefault() // Останавливаем событие
        let page_url = $(elem).attr('href')

        $.ajax({
        url: page_url,
        type: 'GET',
        success: (data) => {
        //$('#list-elements').empty()
        $('#list-elements').append($(data).find('#uploading').html())

        $('#loading').empty()
        $('#loading').append($(data).find('#loading').html())
        }
        })
        })
        })
        }

        $(document).ready(function() {
            ajax_pagination()
        })

        $(document).ajaxStop(function() {
            ajax_pagination()
        })

        function destroy_object(name){
            $("div[name='" + name + "']").remove();
        }
    </script>

{% endblock %}