<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/bootstrap/mystyle.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class = "container bg-light">
      <div>
        <h1 class = "jumbotron bg-dark text-white font-weight-bold">
          Динамическая форма
        </h1>
        <p>
        <a href="{% url 'project_blog' project.id  %}" class="btn btn-warning btn-lg">Назад</a>
        </p>
          {% block content %}
          {% endblock %}
      </div>
    </div>
</body>
</html>